{% extends "AppEntrega/padre.html" %}

{% load static %}

{% block contenidoquecambia %}


            <center><img class="mx-auto rounded-circle" text-align: "center" src="{% static 'AppEntrega/assets/img/team/jose.jpg' %}" alt="..." /></center>
            <center><h4>Jose Quiñones</h4>
            <p class="lead">Lead Designer</p></center>
            <p class="text-muted">
                Mi nombre es Jose Quiñones, Ingeniero Civil de profesión pero actualmente como Supervisor de Operaciones en E-commerce.
                Aprendiendo sobre el lenguaje de programación Python y Django, y con ganas de seguir conociendo sobre este increible mundo. Gracias por visitar mi pagina y no dejes de seguirme en mi LinkedIn.
                <a class="btn btn-dark btn-social mx-2" href=http://www.linkedin.com/in/josecarlosquiñones aria-label="Jose Quiñones LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a></p>

            
{% endblock contenidoquecambia %}