{% extends "AppEntrega/padre.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block contenidoquecambia %}


<a>
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- The image half -->
            <center><div class="col-md-6 d-none d-md-flex bg-image" ></div>
    
    
            <!-- The content half -->
            <div class="col-md-6 bg-light">
                <div class="login d-flex align-items-center py-5">
    
                    <!-- Demo content-->
                    <div class="card" style="width: 50rem;">
                        <img src="{% static 'AppEntrega/assets/img/Pilotos.jpg' %}" class="card-img-top" alt="...">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <h3 class="display-4">Inicia Sesion!</h3>
                                <p class="text-muted mb-4">Ingresa tu usuario y contraseña para entrar en nuestra web.</p>
                                <div class="form-group mb-3" style="margin:auto">
                                <form method="post" action="">
                                    {% csrf_token %}
                                            {% if messages %}
                                            {% for mensaje in messages %}
                                            <span class="alert alert-{{mensaje.tags}}">{{mensaje}}</span>
                                            {% endfor %}
                                            {% endif %}
                                            <div style="margin:auto;">
                                            <br/>
                                            {{form|crispy}}
                                            </div>
                                    <center><button type="submit" class="btn btn-warning btn-block text-uppercase mb-2 rounded-pill shadow-sm">Ingresar</button></center>
                                </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                        <label for="customCheck1" class="custom-control-label">Recordar contraseña</label>
                                    </div>
                                    <center><div class="text-center d-flex justify-content-between mt-4"><p>No tienes cuenta aun?<a href="{% url "registro" %}" class="font-italic text-muted"> 
                                            <u>Crear cuenta</u></a></p></div></center>
                                </form></center>
                            </div>
                        </div>
                    </div><!-- End -->
    
                </div>
            </div><!-- End -->
</a>


{% endblock contenidoquecambia %}